In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [93]:
df_energy = pd.read_csv('dataset/energy_dataset.csv')
df_weather = pd.read_csv('dataset/weather_features.csv')

# Energy info

In [94]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [95]:
df_energy.describe()

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
count,35045.000000,35046.000000,35046.0,35046.000000,35046.000000,35045.000000,35046.0,35046.0,35046.0,0.0,...,35045.000000,35046.0,35046.000000,35064.000000,0.0,35064.000000,35064.000000,35028.000000,35064.000000,35064.000000
mean,383.513540,448.059208,0.0,5622.737488,4256.065742,298.319789,0.0,0.0,0.0,NaN,...,269.452133,0.0,5464.479769,1439.066735,NaN,5471.216689,28712.129962,28696.939905,49.874341,57.884023
std,85.353943,354.568590,0.0,2201.830478,1961.601013,52.520673,0.0,0.0,0.0,NaN,...,50.195536,0.0,3213.691587,1677.703355,NaN,3176.312853,4594.100854,4574.987950,14.618900,14.204083
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,...,0.000000,0.0,0.000000,0.000000,NaN,237.000000,18105.000000,18041.000000,2.060000,9.330000
25%,333.000000,0.000000,0.0,4126.000000,2527.000000,263.000000,0.0,0.0,0.0,NaN,...,240.000000,0.0,2933.000000,69.000000,NaN,2979.000000,24793.750000,24807.750000,41.490000,49.347500
50%,367.000000,509.000000,0.0,4969.000000,4474.000000,300.000000,0.0,0.0,0.0,NaN,...,279.000000,0.0,4849.000000,576.000000,NaN,4855.000000,28906.000000,28901.000000,50.520000,58.020000
75%,433.000000,757.000000,0.0,6429.000000,5838.750000,330.000000,0.0,0.0,0.0,NaN,...,310.000000,0.0,7398.000000,2636.000000,NaN,7353.000000,32263.250000,32192.000000,60.530000,68.010000
max,592.000000,999.000000,0.0,20034.000000,8359.000000,449.000000,0.0,0.0,0.0,NaN,...,357.000000,0.0,17436.000000,5836.000000,NaN,17430.000000,41390.000000,41015.000000,101.990000,116.800000

In [96]:
df_energy = df_energy.fillna(0)

In [97]:
df_energy_filtered = df_energy[df_energy.columns[(df_energy != 0).any()]]
df_energy_filtered.columns

Index(['time', 'generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil gas', 'generation fossil hard coal',
       'generation fossil oil', 'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation nuclear',
       'generation other', 'generation other renewable', 'generation solar',
       'generation waste', 'generation wind onshore',
       'forecast solar day ahead', 'forecast wind onshore day ahead',
       'total load forecast', 'total load actual', 'price day ahead',
       'price actual'],
      dtype='object')

# Weather info

In [98]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_iso               178396 non-null  object
 1   city_name            178396 non-null  object
 2   temp                 178396 non-null  float64
 3   temp_min             178396 non-null  float64
 4   temp_max             178396 non-null  float64
 5   pressure             178396 non-null  int64
 6   humidity             178396 non-null  int64
 7   wind_speed           178396 non-null  int64
 8   wind_deg             178396 non-null  int64
 9   rain_1h              178396 non-null  float64
 10  rain_3h              178396 non-null  float64
 11  snow_3h              178396 non-null  float64
 12  clouds_all           178396 non-null  int64
 13  weather_id           178396 non-null  int64
 14  weather_main         178396 non-null  object
 15  weather_description  178396 non-null  object
 16  weather_icon         178396 non-null  object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

In [99]:
unique_cities = df_weather['city_name'].unique()
print(unique_cities)

['Valencia' 'Madrid' 'Bilbao' ' Barcelona' 'Seville']

In [100]:
valencia_weather = df_weather.loc[df_weather['city_name']=='Valencia']

In [101]:
valencia_weather.describe()

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id
count,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000,35145.000000
mean,290.780780,290.222277,291.355025,1015.973794,65.145113,2.692815,160.753820,0.035924,0.000226,0.000154,20.820999,781.228283
std,7.231284,7.087512,7.519891,11.927677,19.689276,2.581825,120.436402,0.267955,0.003531,0.011898,25.658433,79.759832
min,268.830656,268.830656,268.830656,969.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,200.000000
25%,285.150000,285.150000,285.650000,1012.000000,51.000000,1.000000,50.000000,0.000000,0.000000,0.000000,0.000000,800.000000
50%,290.170000,290.150000,291.150000,1017.000000,67.000000,2.000000,130.000000,0.000000,0.000000,0.000000,20.000000,800.000000
75%,296.150000,295.370000,297.150000,1021.000000,82.000000,4.000000,280.000000,0.000000,0.000000,0.000000,20.000000,801.000000
max,311.150000,311.150000,314.820000,1087.000000,100.000000,133.000000,360.000000,12.000000,0.100000,1.125000,100.000000,804.000000

In [102]:
def kelvin_to_celsius(kelvin):
    celsius = kelvin - 273.15
    return celsius

# Example usage:
kelvin_temperature = 298.15  # Example temperature in Kelvin
celsius_temperature = kelvin_to_celsius(kelvin_temperature)
print(f"{kelvin_temperature} Kelvin is equal to {celsius_temperature} degrees Celsius.")

298.15 Kelvin is equal to 25.0 degrees Celsius.

In [103]:
# Apply the function to the column
valencia_weather['temp_C'] = valencia_weather['temp'].apply(kelvin_to_celsius)

valencia_weather

C:\Users\LucasRegis\AppData\Local\Temp\ipykernel_16720\153328775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valencia_weather['temp_C'] = valencia_weather['temp'].apply(kelvin_to_celsius)

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,temp_C
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n,-2.675
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n,-2.675
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n,-3.464
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n,-3.464
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n,-3.464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35140,2018-12-31 19:00:00+01:00,Valencia,285.640,285.150,286.150,1028,62,2,140,0.0,0.0,0.0,0,800,clear,sky is clear,01n,12.490
35141,2018-12-31 20:00:00+01:00,Valencia,283.140,282.150,284.150,1029,71,1,242,0.0,0.0,0.0,0,800,clear,sky is clear,01n,9.990
35142,2018-12-31 21:00:00+01:00,Valencia,281.660,281.150,282.150,1029,81,3,300,0.0,0.0,0.0,0,800,clear,sky is clear,01n,8.510
35143,2018-12-31 22:00:00+01:00,Valencia,280.140,279.150,281.150,1029,81,2,310,0.0,0.0,0.0,0,800,clear,sky is clear,01n,6.990
35144,2018-12-31 23:00:00+01:00,Valencia,279.140,278.150,280.150,1029,75,2,300,0.0,0.0,0.0,0,800,clear,sky is clear,01n,5.990

In [104]:
unique_temp = valencia_weather['temp_C'].unique()
print(unique_temp)

[-2.675 -3.464 -2.858 ...  5.51   3.48   2.51 ]

In [105]:
df_weather.head(5)

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

Joining energy and weather df

In [106]:
# Drop the 'city' column
weather_df_without_city = df_weather.drop(columns=['city_name', 'weather_id', 'weather_main', 'weather_description', 'weather_icon'])

# Group by 'dt_iso' and calculate the mean for each column
result_df = weather_df_without_city.groupby('dt_iso').mean().reset_index()

# Display the result
result_df.describe()

,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000
mean,289.680183,288.396642,291.147454,1070.205996,68.217013,2.467529,166.614552,0.073212,0.000386,0.004846,24.737415
std,7.261069,7.121843,7.507959,2692.266470,14.890167,1.357751,57.493555,0.202562,0.003360,0.101103,17.306731
min,271.941863,270.550000,271.941863,812.400000,22.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,284.060000,282.950000,285.350000,1012.800000,56.800000,1.400000,126.400000,0.000000,0.000000,0.000000,12.000000
50%,289.025000,287.750000,290.550000,1017.000000,69.800000,2.200000,166.000000,0.000000,0.000000,0.000000,22.400000
75%,295.086000,293.610000,296.750000,1021.000000,80.200000,3.200000,207.800000,0.060000,0.000000,0.000000,35.000000
max,309.266000,308.550000,313.548000,202469.000000,100.000000,29.800000,338.000000,4.150000,0.463000,4.300000,93.600000

In [107]:
# Merge DataFrames based on 'iso_dt'
merged_df = pd.merge(df_energy, result_df, left_on='time', right_on='dt_iso')

# Display the merged DataFrame
merged_df.head(5)

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,272.491463,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,272.512700,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0,0.0
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,272.099137,272.099137,1016.8,82.0,2.4,119.0,0.0,0.0,0.0,0.0
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,272.089469,272.089469,1016.6,82.0,2.4,119.2,0.0,0.0,0.0,0.0
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,272.145900,272.145900,1016.6,82.0,2.4,118.4,0.0,0.0,0.0,0.0

In [108]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 41 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35064 non-null  float64
 2   generation fossil brown coal/lignite         35064 non-null  float64
 3   generation fossil coal-derived gas           35064 non-null  float64
 4   generation fossil gas                        35064 non-null  float64
 5   generation fossil hard coal                  35064 non-null  float64
 6   generation fossil oil                        35064 non-null  float64
 7   generation fossil oil shale                  35064 non-null  float64
 8   generation fossil peat                       35064 non-null  float64
 9   generation geothermal                        35064 non-null  float64
 10  generation hydro pumped storage aggregated   35064 non-null  float64
 11  generation hydro pumped storage consumption  35064 non-null  float64
 12  generation hydro run-of-river and poundage   35064 non-null  float64
 13  generation hydro water reservoir             35064 non-null  float64
 14  generation marine                            35064 non-null  float64
 15  generation nuclear                           35064 non-null  float64
 16  generation other                             35064 non-null  float64
 17  generation other renewable                   35064 non-null  float64
 18  generation solar                             35064 non-null  float64
 19  generation waste                             35064 non-null  float64
 20  generation wind offshore                     35064 non-null  float64
 21  generation wind onshore                      35064 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            35064 non-null  float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35064 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
 29  dt_iso                                       35064 non-null  object
 30  temp                                         35064 non-null  float64
 31  temp_min                                     35064 non-null  float64
 32  temp_max                                     35064 non-null  float64
 33  pressure                                     35064 non-null  float64
 34  humidity                                     35064 non-null  float64
 35  wind_speed                                   35064 non-null  float64
 36  wind_deg                                     35064 non-null  float64
 37  rain_1h                                      35064 non-null  float64
 38  rain_3h                                      35064 non-null  float64
 39  snow_3h                                      35064 non-null  float64
 40  clouds_all                                   35064 non-null  float64
dtypes: float64(39), object(2)
memory usage: 11.0+ MB

In [109]:
# Convert the string to a pandas datetime object
merged_df['time'] = pd.to_datetime(merged_df['time'], utc=True)

In [110]:
merged_df_2015_to_2017 = merged_df.loc[merged_df['time']<'2018-01-01']

In [111]:
max_datetime = merged_df_2015_to_2017['time'].max()

# Display the result
print("Maximum Datetime Value:", max_datetime)

Maximum Datetime Value: 2017-12-31 23:00:00+00:00

In [112]:
final_df = merged_df_2015_to_2017.drop(columns=['time','dt_iso'])

In [113]:
final_df.head(5)

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,...,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all
0,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,0.0,...,272.491463,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0,0.0
1,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,0.0,...,272.512700,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0,0.0
2,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,0.0,...,272.099137,272.099137,1016.8,82.0,2.4,119.0,0.0,0.0,0.0,0.0
3,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,0.0,...,272.089469,272.089469,1016.6,82.0,2.4,119.2,0.0,0.0,0.0,0.0
4,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,0.0,...,272.145900,272.145900,1016.6,82.0,2.4,118.4,0.0,0.0,0.0,0.0

In [114]:
final_df.columns

Index(['generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil coal-derived gas', 'generation fossil gas',
       'generation fossil hard coal', 'generation fossil oil',
       'generation fossil oil shale', 'generation fossil peat',
       'generation geothermal', 'generation hydro pumped storage aggregated',
       'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation marine',
       'generation nuclear', 'generation other', 'generation other renewable',
       'generation solar', 'generation waste', 'generation wind offshore',
       'generation wind onshore', 'forecast solar day ahead',
       'forecast wind offshore eday ahead', 'forecast wind onshore day ahead',
       'total load forecast', 'total load actual', 'price day ahead',
       'price actual', 'temp', 'temp_min', 'temp_max', 'pressure', 'humidity',
       'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h', 'snow_3h',
       'clouds_all'],
      dtype='object')

In [115]:
# Separar features e variável target
features = final_df.drop('price actual', axis=1)
target = final_df['price actual']

# Dividir os dados em conjuntos de treinamento e teste
X_train, x_test, Y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

LINEAR REGRESSION MODEL

In [116]:
# Criar um regressor Linear
lin_reg = LinearRegression()

# Fit the model to the data
lin_reg.fit(X_train, Y_train)

# Make predictions on the testing data
y_pred = lin_reg.predict(x_test)

# Avaliar o desempenho do modelo
r2 = r2_score(y_test, y_pred)
print(f'R2 Score: {r2}')
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

R2 Score: 0.6249609365904643
Mean Absolute Error: 6.2150939939348
Mean Squared Error: 80.0941619609658

In [117]:
# Criar um regressor XGBoost
regressor = xgb.XGBRegressor()

# Treinar o regressor no conjunto de treinamento
regressor.fit(X_train, Y_train)

# Fazer previsões no conjunto de teste
y_pred = regressor.predict(x_test)

# Avaliar o desempenho do modelo
r2 = r2_score(y_test, y_pred)
print(f'R2 Score: {r2}')
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

R2 Score: 0.8917593644728593
Mean Absolute Error: 3.284765689503985
Mean Squared Error: 23.11610666327259

In [118]:
# Criar um regressor Random Forest
random_forest = RandomForestRegressor()

# Treinar o regressor no conjunto de treinamento
random_forest.fit(X_train, Y_train)

# Fazer previsões no conjunto de teste
y_pred = random_forest.predict(x_test)

# Avaliar o desempenho do modelo
r2 = r2_score(y_test, y_pred)
print(f'R2 Score: {r2}')
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

R2 Score: 0.8843888943778977
Mean Absolute Error: 3.004782550845847
Mean Squared Error: 24.69016036356586

In [119]:
import pickle

# Save the model to a file
with open('your_model.pickle', 'wb') as f:
    pickle.dump(regressor, f)

In [120]:
with open('your_model.pickle', 'rb') as f:
    new_model = pickle.load(f)

In [121]:
#ESTAMOS EM JANEIRO/2018

In [122]:
merged_df_jan_2018 = merged_df.loc[merged_df['time']>='2018-01-01']
merged_df_jan_2018 = merged_df_jan_2018.loc[merged_df['time']<'2018-02-01']

In [123]:
max_datetime = merged_df_jan_2018['time'].max()

# Display the result
print("Maximum Datetime Value:", max_datetime)

Maximum Datetime Value: 2018-01-31 23:00:00+00:00

In [124]:
final_df = merged_df_jan_2018.drop(columns=['time','dt_iso'])

new_data_df = final_df.drop('price actual', axis=1)

In [125]:
new_data_df.columns

Index(['generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil coal-derived gas', 'generation fossil gas',
       'generation fossil hard coal', 'generation fossil oil',
       'generation fossil oil shale', 'generation fossil peat',
       'generation geothermal', 'generation hydro pumped storage aggregated',
       'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation marine',
       'generation nuclear', 'generation other', 'generation other renewable',
       'generation solar', 'generation waste', 'generation wind offshore',
       'generation wind onshore', 'forecast solar day ahead',
       'forecast wind offshore eday ahead', 'forecast wind onshore day ahead',
       'total load forecast', 'total load actual', 'price day ahead', 'temp',
       'temp_min', 'temp_max', 'pressure', 'humidity', 'wind_speed',
       'wind_deg', 'rain_1h', 'rain_3h', 'snow_3h', 'clouds_all'],
      dtype='object')

In [126]:
# Fazer previsão de jan/2018
y_pred_jan2018 = new_model.predict(new_data_df)

In [135]:
y_pred_jan2018

array([40.129154, 25.077103, 24.908602, 30.081833, 31.949383, 30.38437 ,
       24.724167, 31.817085, 24.81653 , 33.02489 , 33.296295, 33.22961 ,
       26.703718, 28.733408, 33.726234, 25.15155 , 24.509287, 30.293486,
       34.22684 , 33.378136, 34.3274  , 37.97991 , 33.156387, 51.322628,
       60.3444  , 57.56548 , 59.66467 , 58.17391 , 55.102585, 70.193085,
       72.19834 , 74.040535, 73.26522 , 77.32073 , 71.25635 , 74.49389 ,
       70.94134 , 62.47294 , 62.47159 , 60.70147 , 58.06317 , 73.68955 ,
       75.26919 , 75.97706 , 75.29404 , 71.198555, 71.734406, 63.587746,
       59.399628, 56.849026, 58.4125  , 54.600178, 58.181614, 54.68711 ,
       70.106445, 74.72269 , 82.85249 , 83.90794 , 78.092186, 70.00913 ,
       65.6188  , 73.39632 , 72.33461 , 62.7129  , 64.14202 , 62.328747,
       66.27797 , 72.387   , 77.57004 , 77.2317  , 61.917324, 46.367886,
       40.244175, 41.787502, 43.056908, 33.16921 , 40.0819  , 34.972755,
       33.164474, 35.08806 , 48.037712, 47.594593, 54.599007, 41.54178 ,
       39.89492 , 33.365967, 25.93871 , 28.6807  , 32.47764 , 29.684574,
       44.501823, 35.227444, 44.515377, 43.783016, 36.56141 , 53.82587 ,
       43.46378 , 41.749603, 38.18909 , 39.442833, 38.717083, 39.4623  ,
       38.049843, 47.52285 , 50.57112 , 53.947453, 59.538467, 61.239445,
       56.856033, 53.39023 , 44.45506 , 47.740986, 46.299225, 46.634205,
       49.572174, 54.446888, 49.249084, 49.34967 , 44.16502 , 37.188866,
       60.07175 , 50.43003 , 54.99068 , 52.935757, 53.897903, 53.44856 ,
       51.186146, 68.84646 , 71.815414, 69.4303  , 64.36942 , 62.23164 ,
       55.911743, 67.483536, 72.904976, 62.67235 , 63.554417, 62.932064,
       71.66922 , 67.64895 , 65.88732 , 71.75121 , 64.142586, 39.763527,
       44.56101 , 56.11089 , 52.503826, 47.041786, 52.82812 , 37.147167,
       50.52982 , 59.643665, 59.737167, 61.787937, 61.410976, 58.35186 ,
       62.25031 , 61.81748 , 64.22956 , 65.334625, 62.04518 , 61.55792 ,
       61.573185, 58.3233  , 59.34504 , 55.40504 , 57.283745, 69.460945,
       66.34072 , 64.93994 , 61.915035, 59.178867, 62.723377, 68.86285 ,
       70.54584 , 68.854385, 71.92225 , 80.28561 , 82.335495, 78.92039 ,
       78.56879 , 76.62343 , 76.084724, 76.24022 , 80.36039 , 76.01103 ,
       78.25877 , 71.92483 , 75.56233 , 69.605194, 68.79217 , 65.62783 ,
       64.79935 , 62.218014, 60.780327, 58.53953 , 58.664402, 60.65268 ,
       63.858334, 68.194496, 70.371704, 70.78185 , 75.19654 , 72.86869 ,
       67.771774, 69.823845, 69.98694 , 65.37884 , 73.70749 , 65.10616 ,
       66.32143 , 61.086063, 66.91188 , 72.39544 , 65.408226, 60.224197,
       54.086338, 51.381783, 51.476597, 49.677765, 55.885254, 58.874073,
       71.04133 , 71.2221  , 72.400185, 76.39031 , 72.082886, 73.07365 ,
       79.1891  , 73.27096 , 69.87203 , 66.19482 , 69.27778 , 66.2145  ,
       72.8639  , 72.796074, 64.563866, 67.761   , 62.25578 , 64.25612 ,
       60.3205  , 51.930313, 54.453465, 52.622616, 51.52293 , 52.499783,
       50.18893 , 51.965965, 71.92775 , 66.55896 , 75.89333 , 75.844185,
       71.34578 , 69.10276 , 67.22262 , 65.33957 , 69.63827 , 70.32179 ,
       70.092514, 74.516945, 72.09438 , 76.76784 , 65.78979 , 68.26197 ,
       69.030136, 64.66116 , 64.758484, 61.985653, 61.294617, 67.166954,
       69.62491 , 71.60654 , 68.61792 , 64.26964 , 72.83324 , 70.61652 ,
       72.23074 , 72.53511 , 67.185356, 61.6459  , 70.200806, 69.37106 ,
       68.24923 , 67.28815 , 67.41562 , 66.68263 , 63.970978, 68.856255,
       51.296295, 50.25952 , 49.394608, 47.989773, 50.992825, 49.311676,
       50.519215, 55.137695, 66.83873 , 70.76564 , 69.09682 , 64.846756,
       65.7271  , 64.46734 , 57.816696, 59.836716, 60.617966, 65.018684,
       62.064125, 64.58348 , 63.215126, 60.74061 , 66.85072 , 52.449604,
       47.04657 , 46.496162, 43.874573, 43.402927, 43.457405, 46.51825 ,
       46.249138, 45.199238, 51.536537, 57.247353, 59.49979 , 55.794525,
       61.902332, 68.494644, 61.0099  , 53.437286, 62.26068 , 64.100204,
       69.03177 , 71.188515, 70.255035, 73.89619 , 71.75067 , 67.53783 ,
       62.63659 , 51.02781 , 55.893597, 46.05599 , 51.805656, 63.044357,
       68.33507 , 77.31395 , 83.93231 , 79.140076, 84.492004, 78.51515 ,
       77.83426 , 73.12137 , 70.2613  , 70.5241  , 72.00956 , 80.4071  ,
       82.57465 , 84.52426 , 84.19032 , 74.58936 , 68.40845 , 57.468327,
       50.672184, 48.057346, 43.911095, 45.361843, 49.46597 , 52.987083,
       65.17996 , 78.15025 , 78.84558 , 79.409996, 77.282776, 74.55628 ,
       69.82215 , 73.63537 , 68.41135 , 66.21636 , 63.97667 , 66.767624,
       78.23983 , 78.32452 , 79.45519 , 65.683365, 57.348835, 54.66585 ,
       52.241875, 44.62336 , 42.243324, 41.805195, 46.335697, 47.91356 ,
       57.63044 , 72.888855, 76.53077 , 74.60556 , 69.895035, 70.59103 ,
       70.69449 , 68.971596, 65.07379 , 63.456562, 70.08733 , 81.32627 ,
       89.46117 , 85.870834, 84.88212 , 80.16877 , 73.63293 , 71.9163  ,
       62.443405, 52.079357, 50.015152, 51.45722 , 51.381935, 66.832   ,
       67.84139 , 72.92973 , 83.53954 , 83.27049 , 83.33971 , 78.902855,
       78.015396, 75.219894, 77.69733 , 72.0154  , 73.23281 , 79.7446  ,
       77.79232 , 84.79518 , 82.44261 , 74.894   , 75.65944 , 66.59066 ,
       55.985798, 51.64816 , 53.028954, 53.591835, 55.010845, 60.793285,
       67.75724 , 69.47092 , 69.430046, 72.409225, 72.17432 , 64.43935 ,
       66.444565, 65.333336, 61.143948, 60.140415, 62.208664, 69.62718 ,
       69.116325, 66.79784 , 68.580284, 69.08258 , 64.94383 , 64.88245 ,
       57.224525, 52.081093, 53.394123, 53.83745 , 57.159687, 56.15974 ,
       56.146427, 56.869392, 76.410904, 71.54888 , 70.8617  , 74.40324 ,
       70.56117 , 65.89155 , 52.76043 , 53.59795 , 59.83127 , 60.647514,
       70.9274  , 70.68204 , 66.53072 , 58.779186, 52.34146 , 48.411514,
       40.11551 , 39.20251 , 36.48979 , 27.121244, 36.299393, 36.90829 ,
       43.19264 , 47.34872 , 54.030075, 63.20519 , 62.786892, 63.357395,
       58.404446, 59.426292, 52.055023, 47.79299 , 54.10708 , 60.933746,
       64.81131 , 66.48242 , 69.97707 , 69.4358  , 64.98828 , 62.0407  ,
       55.63308 , 53.21347 , 50.915527, 56.458374, 54.34797 , 60.15461 ,
       69.573265, 70.21494 , 75.14194 , 71.05643 , 75.84047 , 72.985146,
       71.18264 , 68.63565 , 62.074963, 58.549305, 59.616245, 63.10624 ,
       62.447056, 71.6475  , 68.868225, 67.082504, 66.30364 , 66.16523 ,
       61.196064, 59.21686 , 54.521046, 53.438286, 53.53259 , 60.76155 ,
       68.07176 , 70.57309 , 73.89696 , 78.63058 , 73.03413 , 73.149254,
       66.18444 , 64.29555 , 58.3772  , 61.518444, 60.519035, 67.69715 ,
       82.334625, 83.063774, 79.70031 , 72.65577 , 72.685425, 71.795   ,
       74.95427 , 75.92698 , 72.878174, 63.77763 , 63.324333, 66.13699 ,
       66.65385 , 68.30244 , 69.29522 , 68.37179 , 70.585495, 71.17297 ,
       65.976364, 64.963615, 61.04144 , 61.107975, 61.40153 , 68.297386,
       71.370255, 79.147385, 71.37201 , 68.97417 , 68.342476, 66.021385,
       63.230026, 54.59506 , 54.274456, 54.200893, 51.22287 , 64.43228 ,
       62.748604, 65.58623 , 67.79726 , 68.803024, 69.06473 , 71.38805 ,
       67.84231 , 66.06389 , 66.106476, 62.256214, 60.470707, 61.804657,
       64.73083 , 66.91402 , 62.93436 , 57.826828, 50.233173, 51.8638  ,
       47.412556, 41.057606, 42.466007, 37.676674, 42.64189 , 48.397762,
       61.165283, 67.23068 , 68.69806 , 71.126205, 71.02078 , 58.57104 ,
       62.65124 , 67.68623 , 62.78852 , 64.0472  , 67.47977 , 72.40668 ,
       70.72579 , 65.0727  , 68.16429 , 65.7067  , 65.88566 , 58.58249 ,
       47.242687, 42.140965, 42.468586, 41.691376, 48.99115 , 47.11943 ,
       54.32401 , 58.59864 , 81.42089 , 82.733955, 79.43897 , 73.41112 ,
       76.07185 , 66.89709 , 65.57341 , 64.545494, 64.87693 , 68.66814 ,
       68.198616, 72.033   , 70.3915  , 70.39644 , 71.33187 , 67.77324 ,
       64.9648  , 56.612793, 55.604702, 49.489475, 53.699745, 53.790543,
       49.344734, 48.92492 , 52.934353, 67.35009 , 64.594826, 64.06055 ,
       61.883064, 64.02127 , 54.181538, 55.658497, 57.096058, 65.481415,
       67.649   , 69.39508 , 69.98311 , 69.47975 , 70.12438 , 65.64403 ,
       51.919945, 52.63583 , 56.589108, 57.35084 , 60.53794 , 74.8413  ,
       70.37381 , 68.920105, 71.82139 , 72.9143  , 73.756676, 68.49032 ,
       70.53394 , 69.60434 , 69.04181 , 66.75402 , 66.18227 , 71.78068 ,
       74.54626 , 76.60076 , 72.303314, 68.2389  , 70.1916  , 62.00426 ,
       57.97775 , 55.422894, 52.002975, 52.282322, 54.03472 , 63.01965 ,
       73.063644, 72.1864  , 71.81897 , 69.07704 , 68.64245 , 69.4935  ,
       69.035614, 67.433754, 64.07118 , 61.984165, 63.26757 , 66.31134 ,
       77.10418 , 76.80827 , 74.0979  , 70.57454 , 72.21892 , 65.5471  ,
       62.921005, 57.41815 , 50.042408, 54.093784, 57.494392, 66.533104,
       65.611984, 68.564125, 67.728294, 70.12751 , 68.62075 , 65.68705 ,
       64.0812  , 61.763298, 57.31901 , 59.74076 , 57.788235, 67.24362 ,
       72.62493 , 74.29837 , 74.86775 , 69.423035, 68.23083 , 42.24693 ],
      dtype=float32)

In [128]:
#SUPONDO QUE ENTRAMOS EM FEVEREIRO

In [129]:
jan_2018 = merged_df.loc[merged_df['time']>='2018-01-01']
jan_2018 = jan_2018.loc[merged_df['time']<'2018-02-01']
jan_2018 = jan_2018['price actual']

In [136]:
jan_2018.head(5)

26305    19.02
26306    17.90
26307    20.88
26308    18.83
26309    15.80
Name: price actual, dtype: float64

In [130]:
# Avaliar o desempenho do modelo
r2 = r2_score(jan_2018, y_pred_jan2018)
print(f'R2 Score: {r2}')
mae = mean_absolute_error(jan_2018, y_pred_jan2018)
print(f'Mean Absolute Error: {mae}')
mse = mean_squared_error(jan_2018, y_pred_jan2018)
print(f'Mean Squared Error: {mse}')

R2 Score: 0.34985180081460476
Mean Absolute Error: 8.057985676898753
Mean Squared Error: 116.23347637511822

In [131]:
#MONITORAMENTO
#2015 - 2017 (BASE)
#trimestres para 2018 (1T, 2T, 3T, 4T) - novos 2160 dados
#Otimizar modelo com gridsearch e vendo feature importance